/* Common styles */

.pricing {
	display: -webkit-flex;
	display: flex;
	-webkit-flex-wrap: wrap;
	flex-wrap: wrap;
	-webkit-justify-content: center;
	justify-content: center;
	width: 100%;
	margin: 0 auto 0em;
}

.pricing__feature-list {
	text-align: left;
}

.pricing__action {
	color: inherit;
	border: none;
	background: none;
}

.pricing__action:focus {
	outline: none;
}

/* Individual styles */

/* tashi */
.pricing--tashi .pricing__item {
	font-family: 'Adobe Fan Heiti Std', sans-serif;
	margin: none;
	padding: 1em 4.5em 2.5em;
	text-align: center;
	color: #fff;
	background: #fff;
}

.pricing--tashi .pricing__title {
	font-size: 2em;
	font-weight: 300;
	margin: 0 0 0.15em;
	color: #A9A9A9;
}

.pricing--tashi .pricing__item:nth-child(2) .pricing__title {
	color: #E25ABC;
}

.pricing--tashi .pricing__item:nth-child(3) .pricing__title {
	color: #7E5AE2;
}

.pricing--tashi .pricing__price {
	font-size: 3em;
	font-weight: 300;
	padding: 0.85em 0;
}


.pricing--tashi .pricing__action {
	-webkit-align-self: flex-end;
	align-self: flex-end;
	margin-top: auto;
	font-size: 1.55em;
	width: 180px;
	height: 180px;
	line-height: 60px;
	color: #fff;
	border-radius: 90px;
	background: #808080;
	-webkit-transition: background-color 0.3s, color 0.3s;
	transition: background-color 0.3s, color 0.3s;
}

.pricing--tashi .pricing__item:nth-child(2) .pricing__action {
	background: #808080;
}

.pricing--tashi .pricing__item:nth-child(3) .pricing__action {
	background: #808080;
}

.pricing--tashi .pricing__action:hover,
.pricing--tashi .pricing__action:focus {
	background: #1A1F28 !important;
}
