{% load static %}
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="description" content="">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <!-- The above 4 meta tags *Must* come first in the head; any other head content must come *after* these tags -->

    <!-- Title -->
    <title>Candidate Profile</title>

    <!-- Favicon -->
    <link rel="icon" href="{% static 'img/core-img/favicon.ico'%}">
    <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">

    <!-- Stylesheet -->
    <link rel="stylesheet" href="{% static 'style.css'%}">

</head>

<body>
    <!-- Preloader -->
    <div id="preloader">
        <div class="spinner"></div>
    </div>

    <!-- ##### Header Area Start ##### -->
    <header class="header-area">

        <!-- Top Header Area -->
        <div class="top-header-area d-flex justify-content-between align-items-center">
            <!-- Contact Info -->
            <div class="contact-info">
                <a href="#"><span>Phone:</span> +44 300 303 0266</a>
                <a href="#"><span>Email:</span> info@clever.com</a>
            </div>
            <!-- Follow Us -->
            <div class="follow-us">
                <span>Follow us</span>
                <a href="#"><i class="fa fa-facebook" aria-hidden="true"></i></a>
                <a href="#"><i class="fa fa-instagram" aria-hidden="true"></i></a>
                <a href="#"><i class="fa fa-twitter" aria-hidden="true"></i></a>
            </div>
        </div>

        <!-- Navbar Area -->
        <div class="clever-main-menu">
            <div class="classy-nav-container breakpoint-off">
                <!-- Menu -->
                <nav class="classy-navbar justify-content-between" id="cleverNav">

                    <!-- Logo -->
                    <a><h3>EDIT PROFILE</h3></a>

                    <!-- Navbar Toggler -->
                    <div class="classy-navbar-toggler">
                        <span class="navbarToggler"><span></span><span></span><span></span></span>
                    </div>

                    <!-- Menu -->
                    <div class="classy-menu">

                        <!-- Close Button -->
                        <div class="classycloseIcon">
                            <div class="cross-wrap"><span class="top"></span><span class="bottom"></span></div>
                        </div>

                        <!-- Nav Start -->
                        <div class="classynav">
                           <ul>
                                <li><a href="{% url 'index' %}">Home</a></li>
                                <li><a href="{% url 'gallery' %}">Gallery</a>

                                </li>
                                <li><a href="{% url 'view_talents' %}">View Talents</a></li>


                                {% if request.session.username %}

{% if  request.session.role == "Candidate" %}
                      <li><a href="#">Options</a>
                                <ul class="dropdown">
                                <li><a href="{% url 'up_files' %}">Upload Files</a></li>
                                <li><a href="{% url 'tedit' %}">Modify</a></li>
                                    </ul>
                      </li>

                         {%endif%}


{%endif%}

                               <li><a href="{% url 'profile' %}">Profile</a></li>
                               <li><a href="#">About</a></li>
                                <li><a href="#">Contact</a></li>
                                <li><a><br></a></li>
                            </ul>

                            <!-- Register / Login -->
                            <div class="register-login-area">
                                <a href="{% url 'logout' %}" class="btn active" onclick="alert('Are you sure you want to logout ?');">Logout</a>
                            </div>

                        </div>
                        <!-- Nav End -->
                    </div>
                </nav>
            </div>
        </div>
    </header>
    <!-- ##### Header Area End ##### -->

    <!-- ##### Breadcumb Area Start ##### -->
    <div class="breadcumb-area">
        <!-- Breadcumb -->
        <nav aria-label="breadcrumb">
            <ol class="breadcrumb">
                <li class="breadcrumb-item"><a href="#">Home</a></li>
                <li class="breadcrumb-item active" aria-current="page">Profile</li>
            </ol>
        </nav>
    </div>
    <!-- ##### Breadcumb Area End ##### -->



                <form action="{% url 'updatep' id=sig.id  %}" method="post">
     {% csrf_token %}

                    <section class="popular-courses-area section-padding-100">
        <div class="container">

		<div class="single-course-intro d-flex align-items-center justify-content-center">
                <div class="col-6">
							<div class="hero-content text-center">
                            <!-- Tutor Thumbnail -->

							<div class="contact--info mt-50 mb-100">

                        <ul class="contact-list">
                            <li>
                                <h6><i class="fa fa-meh-o" aria-hidden="true"></i>Name</h6>
                                <h6><input class="form-control" type="text" name="name" value="{{sig.name}}" required></h6>

                            </li>
							<li>
                                <h6><i class="fa fa-envelope" aria-hidden="true"></i>Email</h6>
                                <h6><input class="form-control" type="text" name="email" value="{{sig.email}}" required></h6>
                            </li>
							<li>
                                <h6><i class="fa fa-mobile" aria-hidden="true"></i>Mobile</h6>
                                <h6><input class="form-control" type="text" name="mobile" value="{{sig.mobile}}" required></h6>
                            </li>
                            <li>
                                <h6><i class="fa fa-key" aria-hidden="true"></i> Password</h6>
                                <h6><input class="form-control" type="text" name="password" value="{{sig.password}}" required></h6>
                            </li>
                            </ul>
                    </div>



                            <!-- Tutor Information -->
                            <div class="tutor-information text-center">
                            <button type="submit"  class="btn btn-success" value="Update">Save</button>
                            <button type="reset"  class="btn btn-reset" value="Cancel">Cancel</button>
                            </div>
						   </div>
                        </div>
        </div>
        </div>
 </div>
                    </section></form>






    <!-- ##### Footer Area Start ##### -->
    <footer class="footer-area">
        <!-- Top Footer Area -->
        <div class="top-footer-area">
            <div class="container">
                <div class="row">
                    <div class="col-12">
                        <!-- Footer Logo -->
                        <div class="footer-logo">
                            <a href="index.html"><img src="{% static 'img/core-img/logo2.png'%}" alt=""></a>
                        </div>
                        <!-- Copywrite -->
                        <p><a href="#"><!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. --></a>
Copyright &copy;<script>document.write(new Date().getFullYear());</script> All rights reserved | This template is made with <i class="fa fa-heart-o" aria-hidden="true"></i> by <a href="https://colorlib.com" target="_blank">Colorlib</a>
<!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. --></p>
                    </div>
                </div>
            </div>
        </div>

        <!-- Bottom Footer Area -->
        <div class="bottom-footer-area d-flex justify-content-between align-items-center">
            <!-- Contact Info -->
            <div class="contact-info">
                <a href="#"><span>Phone:</span> +44 300 303 0266</a>
                <a href="#"><span>Email:</span> info@clever.com</a>
            </div>
            <!-- Follow Us -->
            <div class="follow-us">
                <span>Follow us</span>
                <a href="#"><i class="fa fa-facebook" aria-hidden="true"></i></a>
                <a href="#"><i class="fa fa-instagram" aria-hidden="true"></i></a>
                <a href="#"><i class="fa fa-twitter" aria-hidden="true"></i></a>
            </div>
        </div>
    </footer>
    <!-- ##### Footer Area End ##### -->

    <!-- ##### All Javascript Script ##### -->
    <!-- jQuery-2.2.4 js -->
    <script src="{% static 'js/jquery/jquery-2.2.4.min.js'%}"></script>
    <!-- Popper js -->
    <script src="{% static 'js/bootstrap/popper.min.js'%}"></script>
    <!-- Bootstrap js -->
    <script src="{% static 'js/bootstrap/bootstrap.min.js'%}"></script>
    <!-- All Plugins js -->
    <script src="{% static 'js/plugins/plugins.js'%}"></script>
    <!-- Active js -->
    <script src="{% static 'js/active.js'%}"></script>
</body>

</html>