{% load static %}
<html lang="en">

<head>

<link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">


          <style type="text/css">
.rating {
    float:left;
}

/* :not(:checked) is a filter, so that browsers that don’t support :checked don’t
   follow these rules. Every browser that supports :checked also supports :not(), so
   it doesn’t make the test unnecessarily selective */
.rating:not(:checked) > input {
    position:absolute;
    top:-9999px;
    clip:rect(0,0,0,0);
}

.rating:not(:checked) > label {
    float:right;
    width:1em;
    padding:0 .1em;
    overflow:hidden;
    white-space:nowrap;
    cursor:pointer;
    font-size:200%;
    line-height:1.2;
    color:#ddd;
    text-shadow:1px 1px #bbb, 2px 2px #666, .1em .1em .2em rgba(0,0,0,.5);
}

.rating:not(:checked) > label:before {
    content: '★ ';
}

.rating > input:checked ~ label {
    color: #f70;
    text-shadow:1px 1px #c60, 2px 2px #940, .1em .1em .2em rgba(0,0,0,.5);
}

.rating:not(:checked) > label:hover,
.rating:not(:checked) > label:hover ~ label {
    color: gold;
    text-shadow:1px 1px goldenrod, 2px 2px #B57340, .1em .1em .2em rgba(0,0,0,.5);
}

.rating > input:checked + label:hover,
.rating > input:checked + label:hover ~ label,
.rating > input:checked ~ label:hover,
.rating > input:checked ~ label:hover ~ label,
.rating > label:hover ~ input:checked ~ label {
    color: #ea0;
    text-shadow:1px 1px goldenrod, 2px 2px #B57340, .1em .1em .2em rgba(0,0,0,.5);
}

.rating > label:active {
    position:relative;
    top:2px;
    left:2px;
}

/* end of Lea's code */

/*
 * Clearfix from html5 boilerplate
 */

.clearfix:before,
.clearfix:after {
    content: " "; /* 1 */
    display: table; /* 2 */
}

.clearfix:after {
    clear: both;
}

/*
 * For IE 6/7 only
 * Include this rule to trigger hasLayout and contain floats.
 */

.clearfix {
    *zoom: 1;
}

/* my stuff */
#status, button {
    margin: 20px 0;
}

   </style>





    <meta charset="UTF-8">
    <meta name="description" content="">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <!-- The above 4 meta tags *Must* come first in the head; any other head content must come *after* these tags -->

    <!-- Title -->
    <title>Talents</title>

    <!-- Favicon -->
    <link rel="icon" href="{% static 'img/core-img/favicon.ico'%}">

    <!-- Stylesheet -->
    <link rel="stylesheet" href="{% static 'style.css'%}">

</head>

<body class="size-960">
    <!-- Preloader -->
    <div id="preloader">
        <div class="spinner"></div>
    </div>

    <!-- ##### Header Area Start ##### -->
    <header class="header-area">

        <!-- Top Header Area -->
        <div class="top-header-area d-flex justify-content-between align-items-center">
            <!-- Contact Info -->
            <div class="contact-info">
                <a href="#"><span>Phone:</span> +44 300 303 0266</a>
                <a href="#"><span>Email:</span> info@clever.com</a>
            </div>
            <!-- Follow Us -->
            <div class="follow-us">
                <span>Follow us</span>
                <a href="#"><i class="fa fa-facebook" aria-hidden="true"></i></a>
                <a href="#"><i class="fa fa-instagram" aria-hidden="true"></i></a>
                <a href="#"><i class="fa fa-twitter" aria-hidden="true"></i></a>
            </div>
        </div>

        <!-- Navbar Area -->
        <div class="clever-main-menu">
            <div class="classy-nav-container breakpoint-off">
                <!-- Menu -->
                <nav class="classy-navbar justify-content-between" id="cleverNav">

                    <!-- Logo -->
                    <a href="{% url 'index' %}"><h3>OPTIONS</h3></a>
{% if request.session.username %}

                    <ul> <li style="color:red;"><a style="color:#b50909;">Your role is {{request.session.role}}</a></li></ul>

                     {%endif%}
                    <!-- Navbar Toggler -->
                    <div class="classy-navbar-toggler">
                        <span class="navbarToggler"><span></span><span></span><span></span></span>
                    </div>

                    <!-- Menu -->
                    <div class="classy-menu">

                        <!-- Close Button -->
                        <div class="classycloseIcon">
                            <div class="cross-wrap"><span class="top"></span><span class="bottom"></span></div>
                        </div>

                        <!-- Nav Start -->
                      <div class="classynav">
                            <ul>
                                <li><a href="{% url 'index' %}">Home</a></li>
                                <li><a href="{% url 'gallery' %}">Gallery</a>

                                </li>
                                <li><a href="{% url 'view_talents' %}">View Talents</a></li>


                                {% if request.session.username %}

{% if  request.session.role == "Candidate" %}
                      <li><a href="#">Options</a>
                                <ul class="dropdown">
                                <li><a href="{% url 'up_files' %}">Upload Files</a></li>
                                <li><a href="{% url 'tedit' %}">Modify</a></li>
                                    </ul>
                      </li>

                         {%endif%}

{%endif%}
                                <li><a href="{% url 'profile' %}">Profile</a></li>
                                <li><a href="#">About</a></li>
                                <li><a href="#">Contact</a></li>
                                <li><a><br></a></li>
                            </ul>

                            <!-- Register / Login -->
                          {% if request.session.username %}

                            <div class="register-login-area">
                                <a href="{% url 'logout' %}" class="btn active" onclick="alert('Are you sure you want to logout ?');">Logout</a>
                            </div>

                       {% else %}
                            <div class="register-login-area">
                                <div class="classynav">
                                <ul>
                                <li><a href="#signup">Register</a>
                                </li>
                                </ul>
                                <!--<a href="#" class="btn">Register</a>-->
                                <a href="#login" class="btn active">Login</a>
                                </div>
                            </div>
{%endif%}


                        </div>
                        <!-- Nav End -->
                    </div>
                </nav>
            </div>
        </div>
    </header>
    <!-- ##### Header Area End ##### -->

    <!-- ##### Breadcumb Area Start ##### -->
    <div class="breadcumb-area">
        <!-- Breadcumb -->
        <nav aria-label="breadcrumb">
            <ol class="breadcrumb">
                <li class="breadcrumb-item"><a href="#">Home</a></li>
                <li class="breadcrumb-item"><a href="#">View talents</a></li>
            </ol>
        </nav>
    </div>
    <!-- ##### Breadcumb Area End ##### -->

<!-- IPSR Templates -->


    <div class="blog-details-content section-padding-100">

            <div class="row justify-content-center">
                <div class="col-12 col-lg-8">
                    <div class="blog-details-text">
                        <div class="container col-6">





     <div class="line">
            <div class="margin">
               <div class="s-12 m-12 l-8 margin-bottom">
                   {% for t in tal %}
                   {% ifequal t.can_id_id sign.id %}



                     <div class="box">

               <article class="s-12 m-7 l-8" style="margin-bottom:5px;">
                     <h6>Type: {{t.type}}</h6>
                   <h6>Title : {{t.title}}</h6>
                     <p>{{t.desc}}
                     </p>
                    <h6>Author: {{t.can_id.name}}</h6>


                   {%if t.files%}

                   {% load app_filters %}

                   {% if t.files|get_ext%}
                  <video width="420" height="340" controls>

  <source src="/media/{{t.files}}" type="video/mp4">


  Your browser does not support the video tag.

</video>
{% else %}
                   <img src="/media/{{t.files}}">
                   {% if  request.session.role == "Candidate" %}
                   <a href="{% url 'edit' id=t.id  %}"> <button type="submit"  class="btn btn-edit" value="">Edit</button></a>
                   <a href="{% url 'delete' id=t.id  %}"><button type="submit"  class="btn btn-delete" onclick="return confirm('Are you sure you want to delete ?');" value="delete">Delete</button></a>
                   {% endif %}
                   {% endif %}
                   {% endif %}

          <br><hr>

                {%for comment in comments%}


                   {{comment.talent_uploads.id}}
                   {% ifequal t.id comment.talent_id_id%}

                  <h6><a style="color:#008080;"><label>{{comment.name}} : </label></a>  {{comment.comment}}</h6>

                   <h5 align="right"><a href="{% url 'delcomm' id=comment.id  %}" style="color:#008080;">Delete comment</a></h5>

                   {%endifequal%}





                  {%endfor%}



 </article>
                <hr color="#A9A9A9" width="500px" align="left">

 </div>





                   {% endifequal %}
                   {% endfor %}


               </div>




</div>
     </div>
                        </div>
                    </div>
                </div>
            </div></div>


    <!-- IPSR Templates End -->











    <!-- ##### Footer Area Start ##### -->
    <footer class="footer-area">
        <!-- Top Footer Area -->
        <div class="top-footer-area">
            <div class="container">
                <div class="row">
                    <div class="col-12">
                        <!-- Footer Logo -->
                        <div class="footer-logo">
                            <a href="index.html"><img src="{% static 'img/core-img/logo2.png'%}" alt=""></a>
                        </div>
                        <!-- Copywrite -->
                        <p><a href="#"><!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. --></a>
Copyright &copy;<script>document.write(new Date().getFullYear());</script> All rights reserved | This template is made with <i class="fa fa-heart-o" aria-hidden="true"></i> by <a href="https://colorlib.com" target="_blank">Colorlib</a>
<!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. --></p>
                    </div>
                </div>
            </div>
        </div>

        <!-- Bottom Footer Area -->
        <div class="bottom-footer-area d-flex justify-content-between align-items-center">
            <!-- Contact Info -->
            <div class="contact-info">
                <a href="#"><span>Phone:</span> +44 300 303 0266</a>
                <a href="#"><span>Email:</span> info@clever.com</a>
            </div>
            <!-- Follow Us -->
            <div class="follow-us">
                <span>Follow us</span>
                <a href="#"><i class="fa fa-facebook" aria-hidden="true"></i></a>
                <a href="#"><i class="fa fa-instagram" aria-hidden="true"></i></a>
                <a href="#"><i class="fa fa-twitter" aria-hidden="true"></i></a>
            </div>
        </div>
    </footer>
    <!-- ##### Footer Area End ##### -->

    <!-- ##### All Javascript Script ##### -->
    <!-- jQuery-2.2.4 js -->
    <script src="{% static 'js/jquery/jquery-2.2.4.min.js'%}"></script>
    <!-- Popper js -->
    <script src="{% static 'js/bootstrap/popper.min.js'%}"></script>
    <!-- Bootstrap js -->
    <script src="{% static 'js/bootstrap/bootstrap.min.js'%}"></script>
    <!-- All Plugins js -->
    <script src="{% static 'js/plugins/plugins.js'%}"></script>
    <!-- Active js -->
    <script src="{% static 'js/active.js'%}"></script>
</body>

</html>